%h2 Your Cart
#cart
	.row
		.small-12.columns
			%table
				=render(@cart.line_items)
				%tr
					%td
					%td
						%h6 Total:
					%td= number_to_currency(@cart.total_price)
			.row
				.small-6.columns
					= button_to 'Empty cart', @cart, method: :delete, data: { confirm: 'Are you sure?' }
				.small-6.columns
					= button_to 'Checkout', new_order_path, method: :get