#cart
	.row
		.small-9.columns
			%h2 Your Cart
		.small-3.columns
			= button_to 'Empty cart', @cart, method: :delete, data: { confirm: 'Are you sure?' }
	%br
	.row
		.small-12.columns
			%table
				=render(@cart.line_items)
				%tr
					%td
					%td
						%h4 Total:
					%td= number_to_currency(@cart.total_price)
